<nav>
    <div class="mx-auto bg-gray-100">
        <div class="hidden md:flex justify-between py-3">
            <div class="flex ml-20">
                <%= link_to root_path, class: "flex items-center text-gray-900 mr-20" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M9 4.804A7.968 7.968 0 005.5 4c-1.255 0-2.443.29-3.5.804v10A7.969 7.969 0 015.5 14c1.669 0 3.218.51 4.5 1.385A7.962 7.962 0 0114.5 14c1.255 0 2.443.29 3.5.804v-10A7.968 7.968 0 0014.5 4c-1.255 0-2.443.29-3.5.804V12a1 1 0 11-2 0V4.804z" />
                    </svg>
                    <span class="font-bold ml-3">Akari</span>
                <% end %>
                <div class="flex space-x-10 items-center"> 
                    <h2 class="hover:text-indigo-600 font-semibold">O projekcie</h2>
                    <h2 class="hover:text-indigo-600 font-semibold">Metodologia</h2>
                    <h2 class="hover:text-indigo-600 font-semibold">Kontakt</h2>
                </div>
            </div>

            <div class="flex space-x-10 mr-20 items-center">
                <%= link_to root_path, class: "transition duration-500 ease-in-out bg-indigo-900 text-white py-2 px-3 rounded-xl hover:bg-indigo-600 transform hover:scale-105" do %>
                    <button>
                        Zaloguj się
                    </button>
                <% end %>
                <%= link_to root_path, class: "transition duration-500 ease-in-out bg-indigo-900 text-white py-2 px-3 rounded-xl hover:bg-indigo-600 transform hover:scale-105" do %>
                    <button>
                        Zarejestruj się
                    </button>
                <% end %>
            </div>
        </div>
        <div class="flex flex-col md:hidden space-y-3 justify-center items-center py-6">
            <%= link_to root_path, class: "flex flex-col items-center text-gray-900" do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9 4.804A7.968 7.968 0 005.5 4c-1.255 0-2.443.29-3.5.804v10A7.969 7.969 0 015.5 14c1.669 0 3.218.51 4.5 1.385A7.962 7.962 0 0114.5 14c1.255 0 2.443.29 3.5.804v-10A7.968 7.968 0 0014.5 4c-1.255 0-2.443.29-3.5.804V12a1 1 0 11-2 0V4.804z" />
                </svg>
                <span class="font-bold">Akari</span>
            <% end %>
            <h2 class="hover:text-indigo-600 font-semibold">O projekcie</h2>
            <h2 class="hover:text-indigo-600 font-semibold">Metodologia</h2>
            <h2 class="hover:text-indigo-600 font-semibold">Kontakt</h2>
            <%= link_to root_path, class: "py-2 px-2 bg-indigo-900 text-white rounded-xl" do %>
                <button>
                    Zaloguj się
                </button>
            <% end %>
            <%= link_to root_path, class: "py-2 px-2 bg-indigo-900 text-white rounded-xl" do %>
                <button>
                    Zarejestruj się
                </button>
            <% end %>
        </div>
    </div>
</nav>
